*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contianer{
    height: 60vh;
    width: 50vw;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    margin-top: 25px;
}
a{
    text-decoration: none;
    list-style-type: none;
   
}
.btn{
    margin: 10px;
    padding: 18px 80px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
}
.btn:hover{
    background-color: rgb(254, 254, 201);
}
.data{
    background-image: url(/icon-data.gif);
    background-repeat: no-repeat;
}
.geo{
    background-image: url(/icon-geometry.gif);
    background-repeat: no-repeat;
}
.num{
    background-image: url(/icon-numbers.gif);
    background-repeat: no-repeat;
}
.puzzl{
    background-image: url(/icon-puzzles.gif);
    background-repeat: no-repeat;
}
.money{
    background-image: url(/icon-money.gif);
    background-repeat: no-repeat;
}
.algeb{
    background-image: url(/icon-algebra.gif);
    background-repeat: no-repeat;
}
.calcul{
    background-image: url(/icon-calculus.gif);
    background-repeat: no-repeat;
}
.physics{
    background-image: url(/icon-physics.gif);
    background-repeat: no-repeat;
}
.game{
    background-image: url(/icon-games.gif);
    background-repeat: no-repeat;
}
.dic{
    background-image: url(/icon-dictionary.gif);
    background-repeat: no-repeat;
}
.work{
    background-image: url(/icon-worksheet.gif);
    background-repeat: no-repeat;
}
.measur{
    background-image: url(/icon-measure.gif);
    background-repeat: no-repeat;
}
.activit{
    background-image: url(/icon-activity.gif);
    background-repeat: no-repeat;
}