*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contianer{
    height: 60vh;
    width: 50vw;
    background-color: rgba(1, 1, 66, 0.88);
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    margin-top: 25px;
}
a{
    text-decoration: none;
    list-style-type: none;
   
}
.btn{
    margin: 10px;
    padding: 18px 80px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background-color: blue;
}
.btn:hover{
    background-color: rgb(254, 254, 201);
}